/**
 * CSS declarations go here
 * 
 * @author Scandiweb <info@scandiweb.com>
 * @copyright Copyright (c) 2014 Scandiweb, Ltd (http://scandiweb.com)
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 */

* { box-sizing: border-box; font-family: Arial; }

div.message { background: #95BAE0; padding:10px; border-radius:6px; margin-bottom: 5px; width: 70%; float:left; }
div.message.is-author { float: right; background:#E8E3E3; }
div.message .user-image { border-radius: 50%; float: left; }
div.message .emoticon { width: 20px; }
div.message .message-text { width: calc(100% - 40px); float: right; }
textarea { width:100%; border-radius:6px; padding:10px 15px; resize: none; font-size: 14px; }
button { padding:10px; color:#fff; background:#7FABD0; width:100%; border-radius:6px; border-width:0; font-weight:bold; }
button:hover { background:#9FBFDA; cursor: pointer; }