<!--
 * Template for chat view 
 *
 * @author Scandiweb <info@scandiweb.com>
 * @copyright Copyright (c) 2014 Scandiweb, Ltd (http://scandiweb.com)
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
-->

<template name="chat">
    <h1 class="header">Welcome to chat application</h1>
    
    {{ #unless currentUser }}
        <button class="fb-login">Login with facebook to access chat</button>
    {{ else }}
        {{ #each messages }}
            <div class="message {{isAuthor}}">
                <img class="user-image" src="http://graph.facebook.com/{{user.services.facebook.id}}/picture?height=30&width=30" />
                <div class="message-text">{{{parseMessage}}}</div>
            </div>
        {{ /each }}
    
        <textarea class="send-message" placeholder="enter your chat message"></textarea>
        <button class="send-message">Send</button>
    {{ /unless }}
</template>